* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

@media screen {
    
}

body {
    width: 100%;
    /*background-image: url(../img/img-fondo-ingresar.jpg);*/
}

.img-logo-navbar {
    width: 90px;
}

