@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; }

header nav {
  background-color: #3362a3; }
  header nav .img-logo-navbar {
    width: 90px; }
  header nav .nav-link {
    transition: transform .2s; }
    header nav .nav-link:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      border-radius: 10px;
      font-size: 10px;
      background-color: #F0BF62;
      color: #3362a3 !important; }
  header nav .paginas-productos {
    background-color: #3362a3; }
  header nav .paginas-productos-item {
    color: white; }
    header nav .paginas-productos-item:hover {
      background-color: #F0BF62;
      border-radius: 5px; }
    header nav .paginas-productos-item:active {
      background-color: #F0BF62;
      border-radius: 5px; }

.animacion_footer {
  font-size: 2rem;
  transition: transform .2s; }

.animacion_footer:hover {
  transform: scale(1.5); }

.section {
  background-color: #3362a3; }
  .section h2 {
    color: #000; }
  .section p {
    color: #000; }

.background-image-ingresar {
  background-image: url(../img/img-fondo-ingresar.webp);
  background-position: center center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.texto-destacados {
  background-color: #3362a3;
  color: black;
  top: 10px; }

.card {
  background-color: #212529; }
  .card h5 {
    color: white; }
  .card p {
    color: white; }

.carousel-item {
  background: black; }
  .carousel-item .carousel-img {
    opacity: 0.2; }
  .carousel-item .texto-carousel-inicio {
    font-size: 150px; }
  .carousel-item .parrafo-carousel-inicio {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.836) !important; }
