* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

@media screen and (max-widht: 480px) {
    
    
}

.background-image-ingresar {
    background-image: url(../img/img-fondo-ingresar.webp);
    max-width: 100%;
    height: auto;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.247);
}


body {
    width: 100%;
}

.img-logo-navbar {
    width: 90px;
}

/*FOOTER Y ANIMACION EN CONTACTOS*/
.animacion_footer {
    font-size: 40px;
    transition: transform .2s;
}
.animacion_footer:hover {
    transform: scale(1.5);
}

