@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; }

header nav {
  background-color: #3362a3; }
  header nav .img-logo-navbar {
    width: 90px; }
  header nav .nav-link {
    transition: transform .2s; }
    header nav .nav-link:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      border-radius: 10px;
      font-size: 10px;
      background-color: #F0BF62;
      color: #3362a3 !important; }
  header nav .paginas-productos {
    background-color: #3362a3; }
  header nav .paginas-productos-item {
    color: white; }
    header nav .paginas-productos-item:hover {
      background-color: #F0BF62;
      border-radius: 5px; }
    header nav .paginas-productos-item:active {
      background-color: #F0BF62;
      border-radius: 5px; }

.animacion_footer {
  font-size: 2rem;
  transition: transform .2s; }

.animacion_footer:hover {
  transform: scale(1.5); }

.section {
  background-color: #181717;
  border-radius: 3px; }
  .section h2 {
    color: white; }
  .section p {
    color: white; }
  .section .btn:hover {
    border-color: #F0BF62; }

.background-image-ingresar {
  background-image: url(../img/img-fondo-ingresar.webp);
  background-position: center center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.texto-destacados {
  background-color: #3362a3;
  color: black;
  top: 10px; }

.card {
  background-color: #212529; }
  .card h5 {
    color: white; }
  .card p {
    color: white; }

.carousel-item {
  background: black; }
  .carousel-item .carousel-img {
    opacity: 0.2; }
  .carousel-item .carousel-caption {
    margin-bottom: 20%; }
    .carousel-item .carousel-caption .texto-carousel-inicio {
      font-size: 120px; }
    .carousel-item .carousel-caption .parrafo-carousel-inicio {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.836) !important; }

.card-destacados {
  margin: 20px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  overflow: hidden;
  --i:url(/img/inst-electrofonos/fender-blanca.webp);
  --i:url(/img/inst-electrofonos/fender-blanca.webp);
  --i:url(/img/inst-electrofonos/fender-blanca.webp); }
  .card-destacados .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: .5s; }
    .card-destacados .content .content h2, .card-destacados .content a {
      color: rgba(255, 255, 255, 0.8);
      margin: 10px 0; }
  .card-destacados:hover .content {
    opacity: 1; }

.content h2, a {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0; }

.card:hover .content {
  opacity: 1; }
