@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; }

header nav {
  background-color: #3362a3; }
  header nav .img-logo-navbar {
    width: 90px; }
  header nav .nav-link {
    transition: transform .2s; }
    header nav .nav-link:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      border-radius: 10px;
      font-size: 50px;
      background-color: #F0BF62;
      color: #3362a3 !important; }
  header nav .paginas-productos {
    background-color: #3362a3; }
  header nav .paginas-productos-item {
    color: white; }
    header nav .paginas-productos-item:hover {
      background-color: #F0BF62;
      border-radius: 5px; }

.animacion_footer {
  font-size: 2rem;
  transition: transform .2s; }

.animacion_footer:hover {
  transform: scale(1.5); }

.section {
  background-color: #181717;
  border-radius: 3px; }
  .section h2 {
    color: white; }
  .section p {
    color: white; }
  .section .btn:hover {
    border-color: #F0BF62; }

.background-image-ingresar {
  background-image: url(../img/img-fondo-ingresar.webp);
  background-position: center center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.texto-destacados {
  background-color: #3362a3;
  color: black;
  top: 10px; }

.card {
  background-color: #212529; }
  .card h5 {
    color: white; }
  .card p {
    color: white; }

.carousel-item {
  background: black; }
  .carousel-item .carousel-img {
    opacity: 0.2; }
  .carousel-item .carousel-caption {
    margin-bottom: 18%; }
    .carousel-item .carousel-caption .texto-carousel-inicio {
      font-size: 120px;
      animation: text-flicker-in-glow 4s linear both; }
    .carousel-item .carousel-caption .parrafo-carousel-inicio {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.836) !important; }

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0; }
  10% {
    opacity: 0;
    text-shadow: none; }
  10.1% {
    opacity: 1;
    text-shadow: none; }
  10.2% {
    opacity: 0;
    text-shadow: none; }
  20% {
    opacity: 0;
    text-shadow: none; }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25); }
  20.6% {
    opacity: 0;
    text-shadow: none; }
  30% {
    opacity: 0;
    text-shadow: none; }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  30.6% {
    opacity: 0;
    text-shadow: none; }
  45% {
    opacity: 0;
    text-shadow: none; }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25); }
  55.1% {
    opacity: 0;
    text-shadow: none; }
  57% {
    opacity: 0;
    text-shadow: none; }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35); }
  60.1% {
    opacity: 0;
    text-shadow: none; }
  65% {
    opacity: 0;
    text-shadow: none; }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1); }
  75.1% {
    opacity: 0;
    text-shadow: none; }
  77% {
    opacity: 0;
    text-shadow: none; }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1); }
  85.1% {
    opacity: 0;
    text-shadow: none; }
  86% {
    opacity: 0;
    text-shadow: none; }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); } }

.card-destacados {
  margin: 20px;
  width: 300px;
  height: 500px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  overflow: hidden;
  --i:url(/img/inst-electrofonos/fender-blanca.webp);
  --i:url(/img/inst-electrofonos/fender-blanca.webp);
  --i:url(/img/inst-electrofonos/fender-blanca.webp); }
  .card-destacados .content {
    width: 100%;
    height: 100%;
    background: #3362a370;
    opacity: 0;
    transition: .5s; }
    .card-destacados .content .content h2, .card-destacados .content a {
      color: rgba(255, 255, 255, 0.8);
      margin: 10px 0; }
  .card-destacados:hover .content {
    opacity: 1; }

.content h2, a {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0; }

.card:hover .content {
  opacity: 1; }

.section-carrito .p-carrito-container .parrafo-carrito {
  font-size: 50px; }

.section-carrito .p-carrito-container .boton-ver-productos {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  touch-action: manipulation; }
  .section-carrito .p-carrito-container .boton-ver-productos:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s; }
  .section-carrito .p-carrito-container .boton-ver-productos:hover:after {
    top: 0px;
    left: 0px; }
