@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif; }

header nav {
  background-color: #3362a3; }
  header nav div a img {
    width: 90px; }

.animacion_footer {
  font-size: 2rem;
  transition: transform .2s; }

.animacion_footer:hover {
  transform: scale(1.5); }

.section {
  background-color: #3362a3; }
  .section h2 {
    color: #000; }
  .section p {
    color: #000; }

.background-image-ingresar {
  background-image: url(../img/img-fondo-ingresar.webp);
  background-position: center center; }

.texto-destacados {
  background-color: #3362a3;
  color: black; }
