@import "./utilidades/variables";
@import "./base/reset.scss";
@import "./paginas/inicio/header";
@import "./paginas/footer.scss";
@import "./paginas/inicio/section-info.scss";
@import "./paginas/ingresar.scss";
@import "./paginas/productos/todos";
@import "./paginas/inicio/section-productos";