.carousel-item{
    background: black;
    .carousel-img{
        opacity: 0.2;
    }
    .carousel-caption{
        margin-bottom: 20%;
        .texto-carousel-inicio {
            font-size: 120px;
        }
        .parrafo-carousel-inicio {
            font-size: 30px;
            color: rgba(0, 0, 0, 0.836) !important;
        }
    }
}
