.carousel-item{
    background: black;
    .carousel-img{
        opacity: 0.2;
    }
    .texto-carousel-inicio {
        font-size: 150px;
    }
    .parrafo-carousel-inicio {
        font-size: 30px;
        color: rgba(0, 0, 0, 0.836) !important;
    }
}
