.card-destacados {
    margin: 20px;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
    --i:url(/img/inst-electrofonos/fender-blanca.webp);
    --i:url(/img/inst-electrofonos/fender-blanca.webp);
    --i:url(/img/inst-electrofonos/fender-blanca.webp);
    
    .content {
        width: 100%;
        height: 100%;
        background: $color-secundario-hover;
        opacity: 0;
        transition: .5s;

        .content h2, a {
            color: rgba(255, 255, 255, .8);
            margin: 10px 0;
        }
    }
    &:hover .content {
        opacity: 1;
    }
}



.content h2, a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

.card:hover .content {
    opacity: 1;
}