.card-destacados {
    margin: 20px;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
    --i:url(/img/inst-electrofonos/fender-blanca.webp);
    --i:url(/img/inst-electrofonos/fender-blanca.webp);
    --i:url(/img/inst-electrofonos/fender-blanca.webp);
    &:hover .content {
        opacity: 1.5;
    }
    
    .content {
        width: 100%;
        height: 100%;
        background: $color-secundario-hover;
        opacity: 0;
        transition: .5s;

        .content h2, a {
            color: rgba(255, 255, 255, .8);
            margin: 10px 0;
        }
    }
    &:hover .content {
        opacity: 1.5;
    }
    .a-cards-inicio {
        background-color: $color-secundario;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #422800 4px 4px 0 0;
        color: #422800;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        padding: 0 18px;
        line-height: 50px;
        touch-action: manipulation;
        &:hover{ 
            background-color: $color-principal;
        }
        &:active{
            box-shadow: #422800 2px 2px 0 0;
            transform: translate(2px, 2px);          
        }
}
.content h2, a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}



}