@mixin header-principal{
    nav{
        background-color: $color-principal;
        .img-logo-navbar{
            width: 90px;
        }
        .nav-link {
            transition: transform .2s;
            &:hover {
                transform: scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                border-radius: 10px;
                font-size: 10px;
                background-color: map-get($colores-y-opasity, "secundario");
                color: $color-principal !important;
            }
        }
        .paginas-productos {
            background-color: $color-principal;
        }
        .paginas-productos-item{
            color: white;
            &:hover {
                background-color: $color-secundario;
                border-radius: 5px;
            }
            &:active {
                background-color: $color-secundario;
                border-radius: 5px;
            }
        }
    }
}