//background-color
$color-principal: #3362a3;
$color-secundario: #F0BF62;
$color-secundario-hover: #f0be6269;
$color-negro: black;

//colores
$color-texto: black;

//MAPAS
$colores-y-opasity :(
    "principal": $color-principal,
    "secundario": $color-secundario,
    "text": black,
    "opasity": 0.3,
    "color-negro": rgb(24, 23, 23)
);


